// Custom style overrides that ideally move elsewhere.

// Mock login styles
.mock-account-button {
  display: block; // AuButtons are inline-flex by default
  line-height: normal;
  height: auto; // override the fixed height of the button height
  border: .1rem #c6cdd3 solid;
}
