{{page-title "Frontend"}}
<div class="au-o-box">
  <AuHeading @level={{this.level}} @skin={{this.skin}}>
    Aanvraag toelating tot handelingen
  </AuHeading>
</div>
<Aanduidingsobjecten />

{{outlet}}